.main {
    padding: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.password-input {
    width: 30%;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #2D323E;
}