
<form [formGroup]="form">
    <div class="main">
        <h1>Is your password strong enough?</h1>
    
        <mat-form-field class="password-input" color="primary" appearance="outline">
            <mat-label>Password</mat-label>
            <input
                matInput
                formControlName="password"
                [type]="hide ? 'password' : 'text'"
                placeholder="Type a password"
                aria-label="Password"
            />
            <button
                mat-icon-button
                matSuffix
                type="button"
                (click)="hide = !hide"
                [attr.aria-label]="hide ? 'Hide Password' : 'Show Password'"
                [attr.aria-pressed]="hide"
            >
            <mat-icon>
                {{ hide ? 'visibility_off_outline' : 'visibility_outline' }}
            </mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div>
        <app-password-strength [password]="passwordControl"></app-password-strength>
    </div>
</form>